*{
    padding: 0;
    margin: 0;
}

.nav{
    background-color: black;
    color: white;
    font-size: xx-large;
    text-align: center;
    padding: 10px 0;

}
.center{
    display: flex;
    justify-content: center;
    padding-top: 80px;
}
.main{

    /* background-image: linear-gradient(black,rgb(1, 9, 124),black); */
    background-image: linear-gradient(black,#0ecee1,black);
    background-color: rgb(1, 5, 59);
    height: 370px;
    width: 50%;
    border: 4px solid goldenrod;
    border-radius: 15px;
}
.main:hover{
    border: 4px solid black;
}
.main-header{
    color: goldenrod;
    padding: 8px 8px;
    font-size: x-large;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Pacifico', cursive;
    /* background-color: blueviolet; */
}
.header-text1{
    font-weight: 800;
    font-size: xx-large;
}
.header-text2{
    padding-top: 10px;
}
.sub{
    font-size: large;
    padding-left: 20px;
    font-weight: 300;
    color: white;
}
.logo{
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    
}
.logo img{
    position: relative;
    height: 100px;
    width: 100px;
    object-fit: cover;
    padding: 0;
    border: 2px solid goldenrod;
    border-radius: 10px;
}
.website{

    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: blue; */
    margin-left: 30px;
}
.website a{
    position: relative;
    font-size: x-large;
    text-align: center;
    color: goldenrod;
    font-weight: 600;
    text-decoration: none;

}
.website a:hover{
    color: white;
    text-decoration: none;
    text-shadow: 3px;
}
.info{
    position: relative;
    padding-top: 5px;
    color: white;
    font-weight: 700;
    padding-top: 0px;
    width: 400px;
    text-align: center;
}
.details{
    color: white;
    padding-top: 10px;
    padding-left: 30px;
    font-size: medium;
    font-weight: 600;
}
.detail-img{
    /* background-color: yellowgreen; */
    height: 40px;
    width: auto;
}
.detail-img img{
    /* object-fit: contain; */
    height: 50px;
    width: auto;
    border: none;
    padding-bottom: 0;
    
}
.barcode{
    border-top: 2px solid goldenrod;
    background-color: black;
    margin-top: 30px;
    padding-bottom: 40px;
    height: 7px;
    width: 100%;
    color: goldenrod;
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: x-large;
    align-items: baseline;
    /* padding-bottom: 30px; */

}
.footer{
    background-color: black;
    color: goldenrod;
    height: 20px;
    border-top: 2px solid goldenrod;
    font-size: x-large;
    display: flex;
    justify-content: center;
}
.social-logos img{
    position: relative;
    height: 30px;
    width: auto;
    object-fit: cover;
    padding: 5px 5px;
}

