* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
.preloader {
  position: fixed;
  top: 0;
  display: block;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #070707;
  z-index: 10000;
}
.preloader:before {
  content: "Loading";
  text-align: center;
  font-size: 11em;
  color: rgb(255, 20, 79);
}
.counter {
  display: block;
  color: #fff;
  font-size: 16em;
  font-weight: 700;
  z-index: 1;
}
.counter::after {
  content: "%";
  font-size: 1em;
}
.hide {
  opacity: 0;
  transition: 1s;
  pointer-events: none;
}
