@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f8fc;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  justify-items: center;
  width: 940px;
  max-width: 100%;
  margin: auto;
}

.card {
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
}

.card-header img {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  min-height: 250px;
}

.card-body h4 {
  margin: 10px 0;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}

.tag {
  background-color: #fff;
  border-radius: 50px;
  font-size: 12px;
  color: #fff;
  margin: 0;
  padding: 2px 10px;
  text-transform: uppercase;
}

.tag-teal {
  background-color: #92d4e4;
}

.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  margin-right: 10px;
  height: 40px;
  width: 40px;
}

.user-info h5 {
  margin: 0;
}

.user-info small {
  color: #888785;
}

.read-more {
  padding-left: 80px;
  padding-top: 20px;
}

@media (max-width: 940px) {
  .container {
    grid-template-columns: 1fr;
  }
}
